<div style="border: 2px solid aqua;border-radius:100%;height:100px;width:100px;margin-left:50%;padding:19px">
  <span style="color:blue;font-size:30px">Bless</span>
  
  </div>
  </br>
   {{#each errors}}
  <h5><div class="alert alert-danger">{{msg}}</div></h5>

  {{/each}}
  {{#if email}}
   <h5><div class="alert alert-danger">email ya utilizado </div></h5>
  {{/if}}
<form action="/registrarse" method="POST"   style="width:50%;margin-left:30%">
    <span style="color:blue;font-size:20px">Por favor complete la registración</span>


  <div class="form-group">

    <input type="text" placeholder="Enter Username" class="form-control" name="uname" required>
  </div>

  <div class="col-xs-3"></div>

  <input type="password" placeholder="Enter Password"  class="form-control" name="psw" required>
  </div>
  <div class="form-group"></div>

  <input type="password" placeholder="Retype Password" class="form-control" name="rpsw" required>
  </div>
  <div class="form-group"></div>

  <input type="text" placeholder="Enter fname"  class="form-control" name="fname" required>
  </div>
  <div class="form-group"></div>

  <input type="text" placeholder="Enter lname"  class="form-control" name="lname" required>
  </div>


  <div class="form-group"></div>

  <input type="text" placeholder="Enter address"  class="form-control" name="address" required>
  </div>
  <div class="form-group"></div>

  <input type="text" placeholder="Enter phone" class="form-control" name="phone" required>
  </div>
  <div class="form-group"></div>

  <input type="text" placeholder="Enter Cellphone"  class="form-control"name="cellphone" required>
  </div>
  <div class="form-group"></div>

  <input type="text" placeholder="Enter DPI" class="form-control" name="DPI" required>
  </div>
  <div class="form-group"></div>

  <input type="email" placeholder="Enter e-mail" class="form-control" name="email" required>
  </div>
  <div  class="form-group" style="padding-left:45%;padding-top:5px" >
  <button type="submit" style="background-color:#15cd72" >Registrase</button>
  </div>
  </div>

  {{!-- <div class="form-group" style="background-color:#f1f1f1">
    <span class="psw">Forgot
      <a href="#">password?</a>
    </span>
  </div> --}}
</form>
